<script lang="ts" setup>
import { useUserStore } from "@/stores/user";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const userStore = useUserStore();
const form = ref<VForm | null>(null);
const save = async () => {
  const { valid } = await form.value!.validate();

  if (valid) {
    await userStore.saveUser();
  }
};
</script>
<template>
  <v-dialog v-model="userStore.dialog" persistent width="1024">
    <v-card>
      <v-card-title>
        <span class="text-h5">User Profile</span>
      </v-card-title>
      <v-form ref="form">
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="Name *"
                  required
                  v-model="userStore.editUser.name"
                  :rules="[
                    (v) => !!v || 'Name is required.',
                    (v) =>
                      v.length >= 5 || 'Name must be more than 5 characters.',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="login *"
                  required
                  v-model="userStore.editUser.login"
                  :rules="[
                    (v) => !!v || 'Name is required.',
                    (v) =>
                      v.length >= 5 || 'Name must be more than 5 characters.',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Password *"
                  required
                  v-model="userStore.editUser.password"
                  type="password"
                  :rules="[
                    (v) => !!v || 'Password is required.',
                    (v) =>
                      /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/.test(
                        v
                      ) ||
                      'Password must be at least 8 characters , Upper case letters and Space character',
                  ]"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
      </v-form>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue-darken-1"
          variant="text"
          @click="userStore.dialog = false"
        >
          Close
        </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="save()">
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
